.typography {
  &.h1 {
    font-size: fluid(2.4rem, 2rem);
  }

  &.paragraph,
  &.h1 {
    line-height: 130%;
  }

  &.white {
    color: var(--clr-white);
  }

  &.grey {
    color: var(--clr-text);
  }

  &.weight-400 {
    font-weight: 400;
  }

  &.weight-500 {
    font-weight: 500;
  }

  &.weight-600 {
    font-weight: 600;
  }

  &.weight-700 {
    font-weight: 700;
  }
}
